<!DOCTYPE html>
<html {{ HTML_ATTRS }}>
  <head {{ HEAD_ATTRS }}>
    {{ HEAD }}
  </head>
  <body {{ BODY_ATTRS }}>
    <form class="page-desc" method="POST" name="contact" data-netlify="true" data-netlify-honeypot="bot-field" hidden>
      <input type="hidden" name="form-name" value="contact">
      <h4 class="contact-title">Name:</h4>
      <input class="contact-desc" v-model="name" type="text" name="name" placeholder="Enter Name Here" required>
      <hr class="divider">
      <h4 class="contact-title">Email:</h4>
      <input class="contact-desc" v-model="email" type="email" name="email" placeholder="Enter Email Here" required>
      <hr class="divider">
      <h4 class="contact-title">Message:</h4>
      <textarea class="contact-desc" v-model="message" name="message" rows="5" placeholder="Enter Message Here" required></textarea>
      <input class="submit-btn" type="submit" value="Send Message">
    </form>
    {{ APP }}
  </body>
</html>
